- provide(:title,"Contact Us at afrails for your web design projects")
%section#content
  .top_box
    .inner
      .container_12
        .wrapper
          %article.grid_4
            .pad_box
              %h2.ind Contact Info
              %dl.adress
                %dt
                  %strong
                    New York,
                    %br
                      New York, N.Y.
                %dd
                  %span> Telephone:
                  +1 718-618-4036
                %dd
                  -#%span> FAX:
                  -#+1 800 889 9898
                %dd
                  E-mail:
                  %a{:href => "mailto:info@afrails.com"} Afrails Inquiry
          %article.grid_8.last-col
            .pad_box
              %h2.ind Get in Touch
              %strong= flash[:notice]
              = form_for(@contact, :validate => true, :html => { :id => "contact-form" }) do |f|
                .success
                  Contact form submitted!
                  %br
                    %strong We will be in touch soon.
                %fieldset
                  %label.name
                    = f.text_field :name, :class => "contact_name", :placeholder => "Name"
                    -#%input{:type => "text", :value => "Name:"}
                      %span.error *This is not a valid name.
                      %span.empty *This field is required.
                  %label.email
                    = f.text_field :email, :placeholder => "Email"
                  %label.phone
                    = f.text_field :phone, :placeholder => "Phone"
                  %label.message
                    = f.text_area :message, :placeholder => "Message"
                  .buttons2
                    = f.submit "Submit"
                    -#%a.link2{"data-type" => "reset", :href => "#"} Clear
                  .button-clear 
                    = f.submit "Clear Form", :type => "reset"
